In [1]:
!pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-8.1.0-cp310-cp310-win_amd64.whl (10.9 MB)
     --------------------------------------- 10.9/10.9 MB 11.3 MB/s eta 0:00:00
Collecting protobuf<=4.21.12,>=4.21.1
  Downloading protobuf-4.21.12-cp310-abi3-win_amd64.whl (527 kB)
     ------------------------------------- 527.0/527.0 KB 11.0 MB/s eta 0:00:00
Installing collected packages: protobuf, mysql-connector-python
Successfully installed mysql-connector-python-8.1.0 protobuf-4.21.12

WARNING: You are using pip version 22.0.4; however, version 23.2.1 is available.
You should consider upgrading via the 'C:\nauka\db_capstone\week3\python\dbcapstone\Scripts\python.exe -m pip install --upgrade pip' command.

In [1]:
import mysql.connector as connector

In [4]:
connection = connector.connect(user = "dawid", password = "password1!", host="127.0.0.1", database="LittleLemonDB")

# Task 1

In [10]:
connection = connector.connect(user = "dawid", password = "password1!", host="127.0.0.1", database="LittleLemonDB")
cursor = connection.cursor()

Task 2

In [11]:
show_tables_query = "SHOW tables" 
cursor.execute(show_tables_query)
print(cursor.fetchall())

[('Bookings',), ('Customers',), ('Deliveries',), ('MenuItems',), ('Menus',), ('Menus_has_MenuItems',), ('Orders',), ('OrdersView',), ('StaffMembers',)]

Task 3

In [16]:
query = """SELECT fullName, contactNumber, email, totalCost  FROM Customers JOIN Orders ON Customers.id=Orders.customerId WHERE Orders.totalCost > 60"""
cursor.execute(query)
print(cursor.column_names)
results = cursor.fetchall()
for row in results:
    print(row)

('fullName', 'contactNumber', 'email', 'totalCost')
('abdrew', '11111', 'ssssss@sasd', Decimal('100'))
('mario', '2123', 'saf@fas.xss', Decimal('150'))
('abdrew', '11111', 'ssssss@sasd', Decimal('200'))